<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>US ARMY</title>
    <meta name="description" content="Data analysis for ">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- End Bootstrap -->


    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body class="">
    <div class="container">
        <div class="row text-center">
            <h1>Hey 👋🏻 US Army!</h1>
            <h2>We Performed the Data Analysis for you! 🇺🇸</h2>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <br>
                    <h3>Urgent Info 🚨 </h2>
                    <hr>
                    <h4 class="text-left">Ammo 🔫: <b> {{ ammoStatus }} </b>  &nbsp;&nbsp;&nbsp; Fuel ⛽️: <b>{{ fuelStatus }}</b> &nbsp;&nbsp;&nbsp;  </h4>
                    <h4 class="text-left">Personnel 👮‍♀️:<b> {{ personnelStatus }}    </b> &nbsp;&nbsp;&nbsp;  Wounded in Action (WIA) 🤕:<b> {{ WIA }}</b></h4>
                    <h4 class="text-left">Killed in Action (KIA) 💀: <b> {{ KIA }} </b>  &nbsp;&nbsp;&nbsp; Missing in Action (MIA) 👻: <b>{{ MIA }}</b> &nbsp;&nbsp;&nbsp;  </h4>  
                    
                    <br>
                    <canvas id="myCanvas" width="400" height="400"></canvas>
                    <br>
                    <h3>File Info</h3>
                <div class="text-left">
                    <hr>
                    <h5>Total messages in txt Transcript <h2>{{ totalMessages }}</h2></h5>
                    <h5>Total Unique message senders <h2>{{ totalAuthors }} </h2></h5>
                    <h5>Message Transcript Date From - To <h2>{{ firstDate }} - {{ lastDate }}</h2></h5>
                    <br>
                    <h3>Most recent sitrep</h3>
                    
                    <p>TimeStamp: {{ sitRep.timeStamp }}</p>
                    <h4>Message:</hh4>
                    <h5>{{ sitRep.msg }}</h5>
                    <br>
                    <h2>Most recent Salute Report</h2>
                    
                    <p>TimeStamp: {{ saluteReport.timeStamp }}</p>
                    <p>Message:</p>
                    <h5>{{ saluteReport.msg }}</h5>
                </div>
                </div>
                <div class="col-md-6">
                    <h3>Actions</h3>
                    
                    <div class="margin-bottom:10rem">
                        <form method="get" action="/carousel">
                            <button class="btn btn-outline-dark" type="submit" style="font-size:15px;">Message Carousel</button>
                        </form>
                    </div><br>
                    
                    
                    <div class="actionStyles">
                        <form method="get" action="/allSitreps">
                            <button class="btn btn-outline-dark" type="submit">Get All Sitreps</button>
                        </form>
                    </div>
                    <br>
                    <div class="actionStyles">
                        <form method="get" action="/allReports">
                            <button class="btn btn-outline-dark" type="submit">Get All Reports</button>
                        </form>
                    </div>
                    <br>
                    <div class="actionStyles">
                        <form method="get" action="/barChart">
                            <button class="btn btn-outline-dark"  type="submit">View Bar Graph</button>
                        </form>
                    </div>
                    <br>
                    <div class="actionStyles">
                        <form method="get" action="/allMessages">
                            <button class="btn btn-outline-dark"  type="submit">View All Messages</button>
                        </form>
                    </div>
                    <br>
                    <div class="actionStyles">
                        <form method="get" action="/userInfo">
                            <button class="btn btn-outline-dark"  type="submit">View All Users</button>
                        </form>
                    </div>
                    <br>
                    <div class="actionStyles">
                        <form method="POST" action="/searchUser">
                            <h3>Search for all messages from a User: </h3><input type="text" name="user" style="color:black"/>
                            <input class="btn btn-outline-dark" type="submit" value="Submit" style="color:black" />
                        </form>
                    </div>
                    <br>
                </div>

            </div>
        </div>
    </div>

    <script>
// Global parameters:
// do not resize the chart canvas when its container does (keep at 600x400px)
Chart.defaults.global.responsive = false;
 
 // define the chart data
 var chartData = {
   labels : [{% for item in labels %}
              "{{item}}",
             {% endfor %}],
   datasets : [{
       label: 'KIA,MIA,WIA DATA',
       fill: true,
       lineTension: 0.1,
       backgroundColor: "rgba(75,192,192,0.4)",
       borderColor: "rgba(75,192,192,1)",
       borderCapStyle: 'butt',
       borderDash: [],
       borderDashOffset: 0.0,
       borderJoinStyle: 'miter',
       pointBorderColor: "rgba(75,192,192,1)",
       pointBackgroundColor: "#fff",
       pointBorderWidth: 1,
       pointHoverRadius: 5,
       pointHoverBackgroundColor: "rgba(75,192,192,1)",
       pointHoverBorderColor: "rgba(220,220,220,1)",
       pointHoverBorderWidth: 2,
       pointRadius: 1,
       pointHitRadius: 10,
       data : [{% for item in values %}
                 {{item}},
               {% endfor %}],
       spanGaps: false
   }]
 }
  
 
 // Bar chart
 var bar = document.getElementById("myCanvas").getContext("2d");
 var myz = new Chart(bar, {
   type: 'bar',
   data: chartData,
 });      
    </script>
</body>
<style>
    button {
        background-color:#ffcc01;
        color: white;
        
    }
</style>
</html>
